h1, h2, h3, p, span, body, html, div {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 18px;
}

.grow-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  font-family: sans-serif;
}

#modal.hiding {
  transform-origin: 0 0;
  transform: translate(0, 0) scale(0, 0);
  transition: transform 0.5s;
}

#modal-background.hiding {
  opacity: 0;
  transition: opacity 0.5s;
}

.hidden {
  display: none;
}

#canvas {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.sliders-container {
  position: absolute;
  box-sizing: border-box;
  width: 100vw;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  transition: transform 0.5s;

  &:nth-of-type(1) {
    top: 0px;
    left: 0px;
    @media (min-aspect-ratio: 1/1) {
      transform-origin: left top;
      transform: rotate(-90deg) translateX(-100%);
      width: 100vh;
    }
  }

  &:nth-of-type(2) {
    bottom: 0px;
    right: 0px;
    @media (min-aspect-ratio: 1/1) {
      transform-origin: right bottom;
      transform: rotate(-90deg) translateX(100%);
      width: 100vh;
    }
  }

  label {
    display: none;
  }

  .slider-wrapper {
    opacity: 40%;
    transition: opacity .3s;
    width: 90%;
    padding: 3px;
    display: flex;
    justify-content: center;

    &:hover {
      opacity: 100%;
    }
  }
}

.slider {
  width: 100%;
  box-sizing: border-box;
  margin: 15px 0px;
  z-index: 2;
}